@model IEnumerable<Ecom.Models.ProductSpecificationViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    @await Html.PartialAsync("_SorterPartial")

    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecificationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecificationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueType.ValueName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-sm  btn-success"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button></a>
                <a asp-action="Details" class="details" asp-route-id="@item.Id"><button type="button" class="btn btn-sm  btn-info"><i class="fas fa-eye" aria-hidden="true"></i></button></a>
                <a asp-action="Delete" class="delete" asp-route-id="@item.Id">
                    <button type="button" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
@await Html.PartialAsync("_PaginationPartial")
