@model IEnumerable<Ecom.Models.ProductSpecificationViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Product Specifications</span></h2>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecificationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecificationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueType.ValueName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
