
<div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @( (!(ViewBag.page-1>0) ? "disabled" : ""))"><a class="page-link" href=@Url.Action(null, new { page=ViewBag.page -1,sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter })>Previous</span></a></li>
            <li class="page-item active"><a class="page-link" href=@Url.Action(null, new { page=ViewBag.page,sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter })>@(ViewBag.page)</a></li>
            <li class="page-item @( (!(ViewBag.page+1<=Model.PageCount) ? "disabled" : ""))"><a class="page-link" href=@Url.Action(null, new { page=ViewBag.page+1,sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter })>@(ViewBag.page + 1)</a></li>

            <li class="page-item @( (!(ViewBag.page+2<=Model.PageCount) ? "disabled" : ""))"><a class="page-link" href=@Url.Action(null, new { page=ViewBag.page+2,sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter })>@(ViewBag.page + 2)</a></li>
            <li class="page-item @( (!(ViewBag.page+1<=Model.PageCount) ? "disabled" : ""))"><a class="page-link" href=@Url.Action(null, new { page=ViewBag.page +1,sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter })>Next</a></li>
        </ul>
    </nav>
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@*
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/mail/jqBootstrapValidation.min.js"></script>
<script src="~/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/js/main.js"></script>
