@model IEnumerable<Ecom.Models.CategoryViewModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using PagedList.Mvc;
@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@



        <div class="container-fluid pt-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>

<p >
        @await Html.PartialAsync("_SorterPartial")
        
       @*@if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)*@
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        
  
</p>
            <div class="row px-xl-5 pb-3">
@foreach (var item in Model) {
        <!-- Categories Start -->
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="img/cat-1.jpg" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                            <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            
        }
            </div>
        </div>
        <!-- Categories End -->

        <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" class="edit" asp-route-id="@item.Id"><button type="button" class="btn btn-lg  btn-success"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button></a> 
                    <a asp-action="Details" class="details" asp-route-id="@item.Id"><button type="button" class="btn btn-lg  btn-info"><i class="fas fa-eye" aria-hidden="true"></i></button></a> 
                    <a asp-action="Delete" class="del" asp-route-id="@item.Id"><button type="button" class="btn btn-lg btn-danger"><i class="fas fa-trash" aria-hidden="true"></i>
                        </button></a>
            </td>
        </tr>




}

    </tbody>

</table>
        @await Html.PartialAsync("_PaginationPartial")
